<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TesteWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TesteWS.Properties.Settings>
            <setting name="ConsumirWS01_br_gov_sp_prefeitura_nfe_LoteNFe"
                serializeAs="String">
                <value>https://nfe.prefeitura.sp.gov.br/ws/lotenfe.asmx</value>
            </setting>
        </TesteWS.Properties.Settings>
    </applicationSettings>
</configuration>