<html>
    <head>
        <title>Meu Contador Virtual</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="assets/css/layout.css" rel="stylesheet" />
        <script src="assets/js/jquery.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.mask.js"></script>
        <!--<script src="assets/js/init.js"></script>-->
    </head>
    <body>
<article class="modal fade show in modal-cadastro" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content modal-pj">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    (X) Fechar
                </button>
                <img src="assets/img/logo.png" height="20" />
                <h1>Cadastro Pessoa Jurídica <small>1 de 5</small></h1>
            </div>
            <div class="modal-body">
                <form class="cadastro-form">
                    <label class="center-block">
                        Nome Completo:
                        <input type="text" class="form-control" />
                    </label>
                    <label class="center-block">
                        E-mail de Contato:
                        <input type="email" class="form-control" />
                    </label>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="center-block">
                                Senha:
                                <input type="password" class="form-control" />
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label class="center-block">
                                Repetir Senha:
                                <input type="password" class="form-control" />
                            </label>
                        </div>
                    </div>
                    <input type="submit" value="Próxima Etapa" class="btn btn-lg btn-pj" />
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</article><!-- /.modal -->

</body>
</html>
